@page
@model BD_of_the_Insurance_Company.Pages.ZF.filters.PayMarkModel
@{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Policies_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Payment_mark)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Policies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Policies_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment_mark)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
